@media (max-width: 1250px)
  .container
    width: 93%

@media (max-width: 1024px)
  .container
    &--flex
      height: 65%

@media (max-width: 1300px) and (max-height: 700px)
  h1
    font-size: 34px
    line-height: 41px
  h2
    font-size: 28px
    line-height: 34px
  .button
    height: 55px
  .container
    &--flex
      height: 88%
  .header
    &-top
      &_logo
        height: 65px
    &-content
      &_time
        font-size: 24px
        line-height: 29px
      &_text
        font-size: 24px
        line-height: 29px

@media (max-width: 876px)
  h1
    font-size: 40px
    line-height: 49px
  h2
    font-size: 32px
    line-height: 39px
  .button
    height: 55px
  .header
    &-top
      &_logo
        height: 70px
      &_contacts
        display: flex
        flex-wrap: wrap
        justify-content: flex-end
        margin-left: 40px
        text-align: right
    &-content
      &_time
        font-size: 26px
        line-height: 32px
      &_text
        font-size: 26px
        line-height: 32px
  .container
    width: 90%
    &--flex
      height: 75%

@media (max-width: 683px)
  h1
    font-size: 34px
    line-height: 41px
  h2
    font-size: 28px
    line-height: 34px
  .button
    font-size: 18px
    line-height: 22px
    height: 50px
  .header
    background-position: center center
    &-top
      &_logo
        height: 60px
    &-content
      &_time
        font-size: 22px
        line-height: 27px
      &_text
        font-size: 22px
        line-height: 27px
    &-button
      width: 250px

@media (max-width: 576px)
  h1
    font-size: 30px
    line-height: 37px
  h2
    font-size: 22px
    line-height: 27px
  .button
    font-size: 16px
    line-height: 20px
  .header
    &-top
      &_logo
        height: 50px
      &_contacts
        font-size: 12px
        line-height: 15px
    &-content
      &_time
        font-size: 18px
        line-height: 22px
      &_text
        font-size: 18px
        line-height: 22px
    &-button
      width: 220px

@media (max-width: 460px)
  h1
    font-size: 24px
    line-height: 29px
  h2
    font-size: 20px
    line-height: 24px
  .container
    width: 88%
    &--flex
      align-items: center
  .button
    font-size: 14px
    line-height: 17px
    height: 45px
  .header
    &-top
      &_contacts
        visibility: hidden
    &-content
      text-align: center
      &_time
        font-size: 16px
        line-height: 20px
      &_text
        font-size: 16px
        line-height: 20px
    &-button
      width: 180px

@media (max-width: 375px)
  h1
    font-size: 18px
    line-height: 22px
  h2
    font-size: 20px
    line-height: 24px
  .button
    font-size: 12px
    line-height: 15px
    height: 40px
  .container
    &--flex
      height: 82%
  .header
    &-top
      &_logo
        height: 45px
      &_contacts
        display: none
    &-content
      &_time
        font-size: 14px
        line-height: 17px
      &_text
        font-size: 14px
        line-height: 17px

@media (max-width: 320px)
  h1
    font-size: 18px
    line-height: 22px
  h2
    font-size: 16px
    line-height: 20px
