.about
  position: relative
  margin-top: 60px
  margin-bottom: 60px
  //background-color: #005baa
  // background-image: url('../img/about_bg.PNG')
  // background-repeat: no-repeat
  // background-position: center, center
  // background-size: cover
  // height: 160px
  &::before
    content: ''
    position: absolute
    top: 0
    right: 0
    width: 100%
    height: 100%
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3))

.parallax-window
  min-height: 160px
  background: transparent
