.footer
  padding-top: 50px
  padding-bottom: 70px
  background-color: #005BAA
  background-image: url('../img/bg_footer.png')
  background-repeat: no-repeat
  background-size: cover
  background-position: right
  &-wrapper
    display: flex
    justify-content: space-between
  &-info
    &_title
      margin: 0
      margin-bottom: 50px
      font-size: 36px
      line-height: 44px
      font-weight: bold
      color: #fff
    &_contacts
      margin-bottom: 50px
      color: #fff
    &_text
      margin-bottom: 15px
      font-size: 20px
      line-height: 24px
      font-weight: bold
      color: #fff
    &_tel
      margin-bottom: 15px
      font-size: 18px
      line-height: 22px
      font-weight: normal
    &_number
      font-size: 18px
      line-height: 22px
      font-weight: normal
      color: #fff
    &_link
      font-size: 20px
      line-height: 24px
      font-weight: normal
      color: #fff
  &-buttons
    width: 280px
    display: flex
    flex-direction: column
    align-items: flex-end
    justify-content: flex-start
    &_text
      margin-bottom: 20px
      text-align: right
      font-size: 20px
      line-height: 24px
      font-weight: normal
      color: #fff
      &--bold
        font-weight: bold
    &_social
      margin-bottom: 20px
      display: flex
      justify-content: flex-end
      width: 100%
    &_link
      margin-left: 30px
      height: 60px
      border-radius: 30px
      background: radial-gradient(circle, rgba(255,255,255,1) 65%, rgba(255,255,255,0) 70%)
    &_icon
      width: 60px
      height: 60px
      fill: #428BCA

.to-top
  position: fixed
  display: none
  right: 20px
  bottom: 20px
  z-index: 50
  &--visible
    display: block
  &_icon
    fill: #428BCA
    width: 35px
    height: 35px
    opacity: 0.9
